fastapi
uvicorn[standard]
httpx
jinja2
requests

SQLAlchemy[asyncio]>=2.0.30,<2.1.0
asyncpg>=0.29.0,<0.30.0
alembic>=1.13.0,<1.14.0
passlib[bcrypt]>=1.7.4,<1.8.0
python-jose[cryptography]>=3.3.0,<3.4.0
pydantic>=2.7.0,<2.8.0